In [1]:
A=["varesejal",9181,"TYBSC"]
B=["SP college","pune","tilak road"]

print(A)
print(B)
A.append("statistics")
print(A)
A.extend([1,2,3])
print(A)
A.insert(4,5)
print(A)
A.remove(2)
print(A)
A.pop(3)
print(A)
print(A[:4])      #slice
A.reverse()
print(A)
print(len(A))
A.append(5)
print(A)
print(A.count(5))
print(A+B)    #concatenate
print(A*2)
A.clear()
print(A)



print(B)
B.append("swargte")
print(B)
B.extend([1,2,3])
print(B)
B.insert(4,5)
print(B)
B.remove(2)
print(B)
B.pop(3)
print(B)
print(A[:4])      #slice
B.reverse()
print(B)
print(len(B))
B.append(5)
print(B)
print(B.count(5))
print(A+B)    #concatenate
print(B*2)
B.clear()
print(B)

['varesejal', 9181, 'TYBSC']
['SP college', 'pune', 'tilak road']
['varesejal', 9181, 'TYBSC', 'statistics']
['varesejal', 9181, 'TYBSC', 'statistics', 1, 2, 3]
['varesejal', 9181, 'TYBSC', 'statistics', 5, 1, 2, 3]
['varesejal', 9181, 'TYBSC', 'statistics', 5, 1, 3]
['varesejal', 9181, 'TYBSC', 5, 1, 3]
['varesejal', 9181, 'TYBSC', 5]
[3, 1, 5, 'TYBSC', 9181, 'varesejal']
6
[3, 1, 5, 'TYBSC', 9181, 'varesejal', 5]
2
[3, 1, 5, 'TYBSC', 9181, 'varesejal', 5, 'SP college', 'pune', 'tilak road']
[3, 1, 5, 'TYBSC', 9181, 'varesejal', 5, 3, 1, 5, 'TYBSC', 9181, 'varesejal', 5]
[]
['SP college', 'pune', 'tilak road']
['SP college', 'pune', 'tilak road', 'swargte']
['SP college', 'pune', 'tilak road', 'swargte', 1, 2, 3]
['SP college', 'pune', 'tilak road', 'swargte', 5, 1, 2, 3]
['SP college', 'pune', 'tilak road', 'swargte', 5, 1, 3]
['SP college', 'pune', 'tilak road', 5, 1, 3]
[]
[3, 1, 5, 'tilak road', 'pune', 'SP college']
6
[3, 1, 5, 'tilak road', 'pune', 'SP college', 5]
2
[3, 1, 5, 'tilak road', 'pune', 'SP college', 5]
[3, 1, 5, 'tilak road', 'pune', 'SP college', 5, 3, 1, 5, 'tilak road', 'pune', 'SP college', 5]
[]

name :- sejal vijay vare 
rollno :- 9181

In [ ]:
a=("varesejal",9181,"TYBSC")
b=("SP college","pune","tilak road")

print(a)
print(b)
print(type(a))
print(type(b))
print(a[2])
print(a+b)
print(a*3)
print(9181 in a)
print(5 in a)
c=(a,b)
print(c)
print(a[1:])
print(len(a))

('varesejal', 9181, 'TYBSC')
('SP college', 'pune', 'tilak road')
<class 'tuple'>
<class 'tuple'>
TYBSC
('varesejal', 9181, 'TYBSC', 'SP college', 'pune', 'tilak road')
('varesejal', 9181, 'TYBSC', 'varesejal', 9181, 'TYBSC', 'varesejal', 9181, 'TYBSC')
True
False
(('varesejal', 9181, 'TYBSC'), ('SP college', 'pune', 'tilak road'))
(9181, 'TYBSC')
3